*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity)) !important;
}



/* .glassCard {
  background: rgba(225, 225, 225, 0.18);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border-radius: 10px;
  border: 1px solid rgba(225, 225, 225, 0.18);
} */

.glass-card  {
  background: rgba(225, 225, 225, 0.18);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border-radius: 10px;
  border: 1px solid rgba(225, 225, 225, 0.18);
}

.img-fluid {
  width: 1.5rem;
  height: 1.5rem;
}

.gap-3 {
  gap: 1rem;
}

.w-50 {
  width: 50%;
}

.navbar{
  background: transparent !important;
}

.tracking-wide {
  letter-spacing: 0.025em;
}

.font-bold {
  font-weight: bolder !important;
  
}

.text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem;
}

